* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 420px;
  max-width: 420px;
  height: 100%;
  min-height: auto;
  border: 10px solid black;
  margin: 20px auto;
  background-color: ( rgb(73, 156, 240));
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} 

.grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border: 1px dashed black;
}

.grid-items {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border: 0.1rem solid gray;
  font-size: 2rem;
  background-color: white; 
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 1px dashed black;
  gap: 5px;
}

#box3, #box7, #box10, #box11, #box12 {
  border-left: 0.5rem solid black;
}

#box1, #box2, #box3, #box4, #box5, #box8, #box9, #box10, #box11 {
  border-bottom: 0.5rem solid black;
}

.answer {
  width: 50%;
  height: 50%;
  text-align: center;
}

.special {
  border: none;
  font-size: 2rem;
}

.prompt {
  position: absolute;
  top: 0%;
  right: 0%;
}

@media only screen and (min-width: 998px) {
  .sidebar {
    width: 30%;
  }
}